 .u-section-1 {
  background-image: url("images/94b80f39-7d8d-45e5-bce7-14d8d0ecab34_1.2ad93df75bc93c12256a0e5d5f34880b.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 2380px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 100px;
  margin-bottom: 0;
}

.u-section-1 .u-video-1 {
  min-height: 639px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 28px auto 0 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 10px 0 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
}

.u-section-1 .u-image-1 {
  width: 795px;
  height: 417px;
  object-position: 0% 50%;
  margin: 40px 157px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 795px;
  height: 433px;
  margin: 40px 157px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 795px;
  height: 477px;
  margin: 40px 157px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2319px;
  }

  .u-section-1 .u-video-1 {
    min-height: 669px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1450px;
  }

  .u-section-1 .u-video-1 {
    min-height: 639px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 378px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 392px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 720px;
    height: 432px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1258px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 284px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 294px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 324px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1044px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 179px;
    margin-top: 20px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 185px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 204px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 932px;
}

.u-section-2 .u-text-1 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 746px;
  font-weight: 700;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 552px;
  margin-top: 50px;
  margin-bottom: 0;
  grid-gap: 17px 17px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-size: 0.875rem;
  width: 746px;
  margin: 2px auto 50px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 835px;
  }

  .u-section-2 .u-gallery-1 {
    height: 455px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1164px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-gallery-1 {
    height: 784px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-text-3 {
    width: 720px;
  }

  .u-section-2 .embed-responsive-1 {
    width: 287%;
    left: -94%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2732px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2352px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }

  .u-section-2 .embed-responsive-1 {
    width: 899%;
    left: -400%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1861px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1481px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }

  .u-section-2 .embed-responsive-1 {
    width: 973%;
    left: -437%;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 2905px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 524px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: 74px auto 0 191px;
}

.u-section-3 .u-text-2 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: 37px 37px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 524px;
  background-image: url("images/FBv63JxVkAogPcU.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 47px auto 0;
}

.u-section-3 .u-list-1 {
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 828px;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px 10px 30px;
}

.u-section-3 .u-image-2 {
  width: 177px;
  height: 177px;
  object-position: 50% 10.41%;
  background-image: url("images/FB0-bDRVQA0wC0G.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px 10px 30px;
}

.u-section-3 .u-image-3 {
  width: 177px;
  height: 177px;
  object-position: 50% 0%;
  background-image: url("images/FB-8cNQUUAE3JnU.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px 10px 30px;
}

.u-section-3 .u-image-4 {
  width: 177px;
  height: 177px;
  object-position: 50% 18.33%;
  background-image: url("images/FB1AXpPVIAgkdk6.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 10px 10px 30px;
}

.u-section-3 .u-image-5 {
  width: 177px;
  height: 177px;
  object-position: 50% 22.86%;
  background-image: url("images/FB4x3oXVkAUOCIB.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 10px 10px 30px;
}

.u-section-3 .u-image-6 {
  width: 177px;
  height: 177px;
  object-position: 50% 36.39%;
  background-image: url("images/FB-8qnEVIAA_ZCv.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 10px 10px 30px;
}

.u-section-3 .u-image-7 {
  width: 177px;
  height: 177px;
  object-position: 50% 40.95%;
  background-image: url("images/FB-7yfxVEAMAWsl.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-9 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 30px auto 0;
}

.u-section-3 .u-list-2 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 409px;
}

.u-section-3 .u-container-layout-9 {
  padding: 10px 10px 30px;
}

.u-section-3 .u-image-8 {
  width: 177px;
  height: 177px;
  object-position: 50% 0%;
  background-image: url("images/FB4ybKJVUAMMF41.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-10 {
  font-weight: 400;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-10 {
  padding: 10px 10px 30px;
}

.u-section-3 .u-image-9 {
  width: 177px;
  height: 177px;
  object-position: 50% 29.89%;
  background-image: url("images/FB4w22IVgAUL28L.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-11 {
  font-weight: 400;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-11 {
  padding: 10px 10px 30px;
}

.u-section-3 .u-image-10 {
  width: 177px;
  height: 177px;
  object-position: 50% 29.89%;
  background-image: url("images/FB1AtBEVIAQW0fF.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-12 {
  font-weight: 400;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 30px auto 0;
}

.u-section-3 .u-list-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-repeater-3 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 409px;
}

.u-section-3 .u-container-layout-12 {
  padding: 10px;
}

.u-section-3 .u-image-11 {
  width: 176px;
  height: 176px;
  background-image: url("images/df59b5cf7b66f9254ee965697aefe11518e532ec8aadbba04e4c489d1ec15b86.jpg");
  background-position: 50% 50%;
  margin: 32px auto 0;
}

.u-section-3 .u-text-13 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: normal;
  margin: 30px 393px 0 374px;
}

.u-section-3 .u-text-14 {
  font-size: 2.25rem;
  font-weight: 700;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 25px auto 0;
}

.u-section-3 .u-video-1 {
  width: 570px;
  height: 321px;
  margin: 18px auto 0;
}

.u-section-3 .embed-responsive-2 {
  position: absolute;
  width: 417%;
  left: -158%;
  height: 100%;
  top: 0%;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 23px;
  min-height: 16px;
  width: 88px;
  min-width: 68px;
  margin: 60px auto 47px;
}

.u-section-3 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-3 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
}

.u-section-3 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
  width: 417%;
  left: -158%;
  height: 100%;
  top: 0%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2303px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 432px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 157px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 432px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 683px;
  }

  .u-section-3 .u-list-2 {
    margin-left: initial;
  }

  .u-section-3 .u-repeater-2 {
    min-height: 337px;
  }

  .u-section-3 .u-list-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 274px;
    margin-right: 293px;
  }

  .u-section-3 .u-text-14 {
    margin-top: 80px;
  }

  .u-section-3 .embed-responsive-2 {
    width: 100%;
    left: auto;
    height: 100%;
    top: auto;
  }

  .u-section-3 .embed-responsive-1 {
    width: 532%;
    left: -216%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3842px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 651px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 120px;
  }

  .u-section-3 .u-image-1 {
    min-height: 651px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1177px;
  }

  .u-section-3 .u-list-2 {
    margin-top: 20px;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 774px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 164px;
    margin-right: 183px;
  }

  .u-section-3 .embed-responsive-1 {
    width: 670%;
    left: -285%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 4091px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 977px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-list-3 {
    margin-top: 0;
  }

  .u-section-3 .u-text-13 {
    margin-left: 74px;
    margin-right: 93px;
  }

  .u-section-3 .u-text-14 {
    margin-top: 25px;
  }

  .u-section-3 .u-video-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-3 .embed-responsive-1 {
    width: 975%;
    left: -437%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3794px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 76px;
  }

  .u-section-3 .u-image-1 {
    min-height: 615px;
  }

  .u-section-3 .u-list-2 {
    margin-top: 0;
    margin-left: initial;
  }

  .u-section-3 .u-list-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-3 .embed-responsive-1 {
    width: 1393%;
    left: -646%;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 2469px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 69px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 524px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-text-1 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: 40px 19px 0;
}

.u-section-4 .u-image-1 {
  min-height: 431px;
  background-image: url("images/NCT-Dream-hello-future.jpg");
  background-position: 39.73% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 50px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 828px;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px 10px 30px;
}

.u-section-4 .u-image-2 {
  width: 177px;
  height: 177px;
  object-position: 29.61% 10.41%;
  background-image: url("images/Mark-hello-future.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 30px auto 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px 10px 30px;
}

.u-section-4 .u-image-3 {
  width: 177px;
  height: 177px;
  object-position: 50% 0%;
  background-image: url("images/Renjun-hello-future.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 30px auto 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px 10px 30px;
}

.u-section-4 .u-image-4 {
  width: 177px;
  height: 177px;
  object-position: 41.34% 18.33%;
  background-image: url("images/Jeno-hello-future.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 30px auto 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 10px 10px 30px;
}

.u-section-4 .u-image-5 {
  width: 177px;
  height: 177px;
  object-position: 26% 22.86%;
  background-image: url("images/Haechan-hello-future-900x594.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 30px auto 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 10px 10px 30px;
}

.u-section-4 .u-image-6 {
  width: 177px;
  height: 177px;
  object-position: 34.78% 36.39%;
  background-image: url("images/Jaemin-hello-future.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-8 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 30px auto 0;
}

.u-section-4 .u-container-layout-8 {
  padding: 10px 10px 30px;
}

.u-section-4 .u-image-7 {
  width: 177px;
  height: 177px;
  object-position: 50% 40.95%;
  background-image: url("images/Chenle-hello-future.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-9 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 30px auto 0;
}

.u-section-4 .u-list-2 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 409px;
}

.u-section-4 .u-container-layout-9 {
  padding: 10px;
}

.u-section-4 .u-image-8 {
  width: 176px;
  height: 176px;
  object-position: 50% 0%;
  background-image: url("images/Jisung-hello-future.jpg");
  background-position: 50% 50%;
  margin: 32px auto 0;
}

.u-section-4 .u-text-10 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: normal;
  margin: 30px 393px 0 374px;
}

.u-section-4 .u-text-11 {
  font-size: 2.25rem;
  font-weight: 700;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 0 auto 0 400px;
}

.u-section-4 .u-video-1 {
  width: 570px;
  height: 321px;
  margin: 14px auto 0;
}

.u-section-4 .embed-responsive-2 {
  position: absolute;
  width: 354%;
  left: -127%;
  height: 100%;
  top: 0%;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 23px;
  min-height: 16px;
  width: 88px;
  min-width: 68px;
  margin: 40px auto 57px;
}

.u-section-4 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-4 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
}

.u-section-4 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 354%;
  left: -127%;
  height: 100%;
  top: 0%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1799px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 373px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 432px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 355px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
  }

  .u-section-4 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-10 {
    margin-right: 293px;
    margin-left: 274px;
  }

  .u-section-4 .u-text-11 {
    margin-top: 20px;
    margin-left: 330px;
  }

  .u-section-4 .embed-responsive-2 {
    width: 100%;
    left: auto;
    height: 100%;
    top: auto;
  }

  .u-section-4 .embed-responsive-1 {
    width: 450%;
    left: -175%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1639px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 345px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    min-height: 272px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-4 .u-text-10 {
    margin-right: 183px;
    margin-left: 164px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 253px;
  }

  .u-section-4 .embed-responsive-1 {
    width: 547%;
    left: -224%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1821px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 702px;
  }

  .u-section-4 .u-image-1 {
    min-height: 408px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-10 {
    margin-right: 93px;
    margin-left: 74px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 190px;
  }

  .u-section-4 .u-video-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-4 .embed-responsive-1 {
    width: 790%;
    left: -345%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1571px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 563px;
  }

  .u-section-4 .u-image-1 {
    min-height: 257px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-11 {
    margin-left: 120px;
  }

  .u-section-4 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-4 .embed-responsive-1 {
    width: 1124%;
    left: -512%;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 2459px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 69px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 524px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: 40px 19px 0;
}

.u-section-5 .u-image-1 {
  min-height: 431px;
  background-image: url("images/WayV-1024x682.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-5 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 50px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 828px;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px 10px 30px;
}

.u-section-5 .u-image-2 {
  width: 177px;
  height: 177px;
  object-position: 29.61% 10.41%;
  background-image: url("images/Kun-2-682x1024.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 30px auto 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px 10px 30px;
}

.u-section-5 .u-image-3 {
  width: 177px;
  height: 177px;
  object-position: 50% 0%;
  background-image: url("images/Ten-1-682x1024.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 30px auto 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px 10px 30px;
}

.u-section-5 .u-image-4 {
  width: 177px;
  height: 177px;
  object-position: 41.34% 18.33%;
  background-image: url("images/win2-682x1024.jpg");
  background-position: 50% 29.91%;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 30px auto 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 10px 10px 30px;
}

.u-section-5 .u-image-5 {
  width: 177px;
  height: 177px;
  object-position: 26% 22.86%;
  background-image: url("images/Lucas-1.jpg");
  background-position: 50% 4.81%;
  margin: 0 auto;
}

.u-section-5 .u-text-7 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 30px auto 0;
}

.u-section-5 .u-container-layout-7 {
  padding: 10px 10px 30px;
}

.u-section-5 .u-image-6 {
  width: 177px;
  height: 177px;
  object-position: 34.78% 36.39%;
  background-image: url("images/Xiaojun-1.jpg");
  background-position: 50% 24.89%;
  margin: 0 auto;
}

.u-section-5 .u-text-8 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 30px auto 0;
}

.u-section-5 .u-container-layout-8 {
  padding: 10px 10px 30px;
}

.u-section-5 .u-image-7 {
  width: 177px;
  height: 177px;
  object-position: 50% 40.95%;
  background-image: url("images/Hendery-1-682x1024.jpg");
  background-position: 50% 24.89%;
  margin: 0 auto;
}

.u-section-5 .u-text-9 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 30px auto 0;
}

.u-section-5 .u-list-2 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 409px;
}

.u-section-5 .u-container-layout-9 {
  padding: 10px;
}

.u-section-5 .u-image-8 {
  width: 176px;
  height: 176px;
  object-position: 50% 0%;
  background-image: url("images/yang2-682x1024.jpg");
  background-position: 50% 50%;
  margin: 32px auto 0;
}

.u-section-5 .u-text-10 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: normal;
  margin: 30px 393px 0 374px;
}

.u-section-5 .u-text-11 {
  font-size: 2.25rem;
  font-weight: 700;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 0 auto 0 400px;
}

.u-section-5 .u-video-1 {
  width: 570px;
  height: 321px;
  margin: 14px auto 0;
}

.u-section-5 .embed-responsive-2 {
  position: absolute;
  width: 353%;
  left: -126%;
  height: 100%;
  top: 0%;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 23px;
  min-height: 16px;
  width: 88px;
  min-width: 68px;
  margin: 40px auto 47px;
}

.u-section-5 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-5 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
}

.u-section-5 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
  width: 353%;
  left: -126%;
  height: 100%;
  top: 0%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1936px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 373px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 432px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 355px;
  }

  .u-section-5 .u-list-1 {
    height: auto;
  }

  .u-section-5 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-10 {
    margin-right: 293px;
    margin-left: 274px;
  }

  .u-section-5 .u-text-11 {
    margin-top: 20px;
    margin-left: 330px;
  }

  .u-section-5 .embed-responsive-2 {
    width: 100%;
    left: auto;
    height: 100%;
    top: auto;
  }

  .u-section-5 .embed-responsive-1 {
    width: 448%;
    left: -174%;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1776px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 345px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    min-height: 272px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-5 .u-text-10 {
    margin-right: 183px;
    margin-left: 164px;
  }

  .u-section-5 .u-text-11 {
    margin-left: 253px;
  }

  .u-section-5 .embed-responsive-1 {
    width: 545%;
    left: -222%;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1995px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 702px;
  }

  .u-section-5 .u-image-1 {
    min-height: 408px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-text-10 {
    margin-right: 93px;
    margin-left: 74px;
  }

  .u-section-5 .u-text-11 {
    margin-left: 190px;
  }

  .u-section-5 .u-video-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-5 .embed-responsive-1 {
    width: 799%;
    left: -349%;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1731px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 563px;
  }

  .u-section-5 .u-image-1 {
    min-height: 257px;
  }

  .u-section-5 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-11 {
    margin-left: 120px;
  }

  .u-section-5 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-5 .embed-responsive-1 {
    width: 1131%;
    left: -515%;
  }
}